@using Newtonsoft.Json
@model ComplaintManagement.Util.Models.Dashboard.DashboardSummaryDto
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Dashboard";
    Layout = "_Layout";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>

<div class="container-fluid">

    <!-- SUMMARY CARDS -->
    <div class="row mb-4">

        <div class="col-md-2">
            <div class="card shadow-sm p-3 text-center">
                <h6>Total Tickets</h6>
                <h2>@Model.TotalTickets</h2>
            </div>
        </div>

        @foreach (var status in Model.StatusCounts)
        {
            <div class="col-md-2">
                <div class="card shadow-sm p-3 text-center">
                    <h6>@status.Status</h6>
                    <h2>@status.Count</h2>
                </div>
            </div>
        }

    </div>

    <!-- CHARTS -->
    <div class="row">
        <div class="col-md-6">
            <div id="priorityChart" style="height:400px;"></div>
        </div>

        <div class="col-md-6">
            <div id="dailyChart" style="height:400px;"></div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <div id="categoryChart" style="height:400px;"></div>
        </div>

        <div class="col-md-6">
            <div id="statusChart" style="height:400px;"></div>
        </div>
    </div>

</div>

@section Scripts {
    <script>

        var priorityData = @Html.Raw(JsonConvert.SerializeObject(@Model.PriorityCounts));
        var dailyData = @Html.Raw(JsonConvert.SerializeObject(@Model.DailyCounts));
        var statusData = @Html.Raw(JsonConvert.SerializeObject(@Model.StatusCounts));
        var categoryData = @Html.Raw(JsonConvert.SerializeObject(@Model.CategoryCounts));

        console.log(priorityData);
        console.log(dailyData);
        console.log(statusData);
        console.log(categoryData);

        $(document).ready(function () {

            loadPriorityChart(priorityData);
            loadDailyChart(dailyData);
            loadStatusChart(statusData);
            loadCategoryChart(categoryData);

        });

   

    function loadPriorityChart(data) {

        var chart = echarts.init(document.getElementById('priorityChart'));

        var option = {
                title: {
                    text: 'Tickets by Priority',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'axis'
                },
            xAxis: {
                type: 'category',
                data: data.map(x => x.Priority)
            },
            yAxis: {
                type: 'value'
            },
                series: [{
                    data: data.map((x, index) => ({
                        value: x.Count,
                        itemStyle: {
                            color: getBarColor(index)
                        }
                    })),
                    type: 'bar',
                    barWidth: '50%'
                }]
        };

        chart.setOption(option);
    }

    function loadDailyChart(data) {

        var chart = echarts.init(document.getElementById('dailyChart'));

        var option = {
                title: {
                    text: 'Daily Ticket Trend',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'axis'
                },
            xAxis: {
                type: 'category',
                    data: data.map(x => x.rec_created.split('T')[0])
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                data: data.map(x => x.Count),
                type: 'line'
            }]
        };

        chart.setOption(option);
    }

    function loadStatusChart(data) {

        var chart = echarts.init(document.getElementById('statusChart'));

        var option = {
                title: {
                    text: 'Tickets by Status',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item'
                },
                legend: {
                    bottom: 0
                },
            series: [{
                type: 'pie',
                radius: ['50%', '70%'],
                data: data.map(x => ({
                    value: x.Count,
                    name: x.Status
                }))
            }]
        };

        chart.setOption(option);
    }

    function loadCategoryChart(data) {

        var chart = echarts.init(document.getElementById('categoryChart'));

        var option = {
                title: {
                    text: 'Tickets by Category',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item'
                },
            series: [{
                type: 'treemap',
                data: data.map(x => ({
                    value: x.Count,
                    name: x.Category
                }))
            }]
        };

        chart.setOption(option);
    }

        function getBarColor(index) {

            var colors = [
                '#5470C6',
                '#91CC75',
                '#FAC858',
                '#EE6666',
                '#73C0DE',
                '#3BA272',
                '#FC8452'
            ];

            return colors[index % colors.length];
        }

</script>
}